<div class="container">

  <div class="row">
    <div class="col">
      <h1>PC Gamer NTC Vulcano II Intel Core i5-10400, 8GB RAM, SSD 240GB, Linux, Preto - 7159</h1>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" style="background-color: black;"
            data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" style="background-color: black;"
            data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" style="background-color: black;"
            data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" style="background-color: black;"
            data-bs-slide-to="3" aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" style="background-color: black;"
            data-bs-slide-to="4" aria-label="Slide 5"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" style="background-color: black;"
            data-bs-slide-to="5" aria-label="Slide 6"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" style="background-color: black;"
            data-bs-slide-to="5" aria-label="Slide 7"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../assets/imgCarousel/produto3/pc1.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/imgCarousel/produto3/pc2.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/imgCarousel/produto3/pc3.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/imgCarousel/produto3/pc4.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/imgCarousel/produto3/pc5.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/imgCarousel/produto3/pc6.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/imgCarousel/produto3/pc7.jpg" class="d-block w-100" alt="...">
          </div>

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" style="background-color: black;" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" style="background-color: black;" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="col colunaComprar">
      <h2>Vendido e entregue por: Loja Cast! | <b id="estoque">Em estoque</b></h2>

      <div class="row ">
        <div class="col">
          <p><s><b>R$ 4.599,90</b></s></p>
          <p id="preco">R$ 3.799,90</p>
          <p>À vista no PIX com até <b>10% OFF</b></p>


          <p id="precoPrazo"><b>R$ 4.222,11</b></p>

          Em até 12x de <b>R$ 351,84</b> sem juros no cartão
          Ou em 1x no cartão com até <b>10% OFF</b>
        </div>
        <div class="col ">
          <a href="#" class="btn">COMPRAR</a>
        </div>
      </div>
      <div>

      </div>
    </div>
  </div>


</div>

<div class="container painel">
  <div class="row">
    <div class="col-1">

    </div>
    <div class="col-10">

      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>

              <div class="container painel">
                <div class="row">
                  <div class="col-1">
                    <span class="material-icons">
                      description
                    </span>
                  </div>
                  <div class="col">
                    <h2 id="tituloDescricaoProduto">DESCRIÇÃO DO PRODUTO</h2>
                  </div>

                </div>
              </div>

            </mat-panel-title>
            <mat-panel-description>

            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="textoDescricao">
            <p>Computador NTC Gamer Vulcano II 7159 O Computador NTC Gamer Vulcano II 7159, vem equipado com processador
              Intel Core i5 10400 de 10ª Geração com 6 Nucleos e 12 Threads de 2.9Ghz a 4.3Ghz no modo Turbo, Placa Mãe
              Gigabyte H410M-M, 8GB de Memoria RAM DDR4 2400 Mhz (1x8GB), SSD de 240GB Sata 3 2.5", Fonte de alimentação
              de 500W reais com 80 Plus Bronze e PFC Ativo e o Gabinete Gamer Infinity III.</p>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div class="col-1">
    </div>
  </div>
</div>


<div class="container painel2">
  <div class="row">
    <div class="col-1">

    </div>
    <div class="col-10">

      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>

              <div class="container painel">
                <div class="row">
                  <div class="col-1">
                    <span class="material-icons">
                      priority_high
                    </span>
                  </div>
                  <div class="col">
                    <h2 id="tituloDescricaoProduto">INFORMAÇÕES TÉCNICAS</h2>
                  </div>

                </div>
              </div>

            </mat-panel-title>
            <mat-panel-description>

            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="textoDescricao">

            <p><b>Características:</b></p>
            <p>- Marca: NTC</p>
            <p>- Modelo: Vulcano II 7159</p>

            <p><b>Especificações:</b></p>

            <p><b>Placa Mãe:</b></p>
            <p>- Gigabyte H410M-H</p>

            <p><b>Fonte:</b></p>
            <p>- 500W</p>
            <p>- 80 Plus Bronze C/PFC Ativo</p>

            <p><b>Processador:</b></p>
            <p>- Intel Core i5-10400</p>
            <p>- LGA 1200</p>
            <p>- 2.90 - 4.3Ghz</p>
            <p>- 12 MB Cache L3</p>
            <p>- 10ª Geração</p>
            <p>- 6 Nucleos e 12 Threads de 2.9Ghz a 4.3Ghz no Modo Turbo</p>

            <p><b>Memória RAM:</b></p>
            <p>- 1x8GB</p>
            <p>- DDR4</p>
            <p>- 2400Mhz</p>

            <p><b>SSD:</b></p>
            <p>- 240GB</p>
            <p>- Sata 3</p>
            <p>- 2.5"</p>

            <p><b>Sistema Operacional:</b></p>
            <p>- Linux</p>
            <p>- 64 Bits</p>

            <p><b>Gabinete:</b></p>
            <p>- Infinity III</p>
            <p>- Preto</p>

            <p><b>Conteúdo da Embalagem:</b></p>
            <p>- Computador Gamer NTC Vulcano II - 7159</p>
            <p>- Controlador Remoto RGB</p>

            <p><b>Garantia:</b></p>
            <p>1 ano de garantia (9 meses de garantia contratual junto ao fabricante + 3 meses referentes à garantia legal,
              nos termos do artigo 26, II, do Código de Defesa do Consumidor)</p>

            <p><b>Peso:</b></p>
            <p>11521 gramas (bruto com embalagem)</p>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div class="col-1">
    </div>
  </div>
</div>



<app-footer></app-footer>