<app-header></app-header>

<mat-stepper class="stepper-dados" orientation="vertical">
  <mat-step>
    <ng-template matStepLabel>Dados de entrega</ng-template>
    <ng-template matStepContent>
      <form >

        <mat-form-field class="input-endereco-cep" appearance="fill">
          <mat-label>CEP</mat-label>
          <input matInput  [(ngModel)]="cepValor" (blur)="consultarCep()" type="number" minlength="8" placeholder="00000-000" [formControl]="cepFormControl" required>
          <mat-error *ngIf="cepFormControl.invalid">O CEP não pode ficar em branco</mat-error>
        </mat-form-field>

        <mat-form-field class="input-endereco-cidade" appearance="fill">
          <mat-label>Cidade</mat-label>
          <input matInput placeholder="Ex. São Paulo" [formControl]="cidadeFormControl" value="{{ cep.localidade }}" required>
        </mat-form-field>

        <mat-form-field class="input-endereco-estado" appearance="fill">
          <mat-label>Estado</mat-label>
          <input matInput placeholder="Estado" [formControl]="estadoFormControl" value="{{ cep.uf }}" required>
        </mat-form-field>

        <div class="endereco-container">
          <mat-form-field class="input-endereco" appearance="fill">
            <mat-label>Endereço</mat-label>
            <input matInput placeholder="Ex. Rua Um" [formControl]="enderecoFormControl" required>
            <mat-error *ngIf="enderecoFormControl.invalid">O endereço não pode ficar em branco</mat-error>
          </mat-form-field>

          <mat-form-field class="input-endereco-bairro" appearance="fill">
            <mat-label>Bairro</mat-label>
            <input matInput placeholder="Ex. Vila Madalena" [formControl]="bairroFormControl" value=" {{ cep.bairro }}" required>
            <mat-error *ngIf="bairroFormControl.invalid">O bairro não pode ficar em branco</mat-error>
          </mat-form-field>

          <mat-form-field class="input-endereco-numero" appearance="fill">
            <mat-label>Número</mat-label>
            <input matInput type="number" placeholder="Ex. 123" [formControl]="numeroFormControl" required>
            <mat-error *ngIf="enderecoFormControl.invalid">O número não pode ficar em branco</mat-error>
          </mat-form-field>

          <mat-form-field class="input-endereco-complemento" appearance="fill">
            <mat-label>Complemento</mat-label>
            <input matInput placeholder="" value="{{ cep.complemento }}">
          </mat-form-field>

          <mat-form-field class="input-endereco-referencia" appearance="fill">
            <mat-label>Referência</mat-label>
            <input matInput placeholder="">
          </mat-form-field>
        </div>

        <section class="checkbox-selection">
          <mat-checkbox class="example-margin">Usar este endereço para cobrança</mat-checkbox>
        </section>
      </form>

      <button mat-button matStepperNext>Próximo</button>
    </ng-template>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Forma de pagamento</ng-template>
    <ng-template matStepContent>
      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Cartão de Crédito
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-form-field class="input-nome-cartao" appearance="fill">
            <mat-label>Nome</mat-label>
            <input matInput placeholder="Ex. João da Silva" [formControl]="nomeCartaoFormControl" required>
            <mat-error *ngIf="nomeCartaoFormControl.invalid">O nome não pode ficar em branco</mat-error>
          </mat-form-field>

          <mat-form-field class="input-numCartaoDeCredito" appearance="fill">
            <mat-label>Numero do cartão</mat-label>
            <input matInput type="number" maxlength="16" placeholder="1234 1234 1234 1234" [formControl]="cartaoDeCreditoFormControl"
              required>
            <mat-error *ngIf="cartaoDeCreditoFormControl.invalid">O número do cartão não pode ficar em branco
            </mat-error>
          </mat-form-field>

          <mat-form-field class="input-cvcCartaoDeCredito" appearance="fill">
            <mat-label>CVC</mat-label>
            <input matInput type="number" minlength="3" placeholder="123" [formControl]="cvcFormControl" required>
            <mat-error *ngIf="cvcFormControl.invalid">O CVC do cartão não pode ficar em branco</mat-error>
          </mat-form-field>

          <mat-form-field class="input-mesCartaoDeCredito" appearance="fill">
            <mat-label>Mes de vencimento</mat-label>
            <input matInput type="text" minlength="3" placeholder="123" [formControl]="mesFormControl" required>
            <mat-error *ngIf="mesFormControl.invalid">O mes do cartão não pode ficar em branco</mat-error>
          </mat-form-field>

          <mat-form-field class="input-anoCartaoDeCredito" appearance="fill">
            <mat-label>Ano de vencimento</mat-label>
            <input matInput type="number" minlength="3" placeholder="123" [formControl]="anoFormControl" required>
            <mat-error *ngIf="anoFormControl.invalid">O ano do cartão não pode ficar em branco</mat-error>
          </mat-form-field>

          <!-- TODO adicionar data do cartao, versao angular material dando pau -->

          <button mat-button matStepperNext>Confirmar</button>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Boleto Bancário
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-form-field class="input-nome-boleto" appearance="fill">
            <mat-label>Nome</mat-label>
            <input matInput placeholder="Ex. João da Silva" [formControl]="nomeBoletoFormControl" required>
            <mat-error *ngIf="nomeBoletoFormControl.invalid">O nome não pode ficar em branco</mat-error>
          </mat-form-field>
          <mat-form-field class="input-cpf-boleto" appearance="fill">
            <mat-label>CPF</mat-label>
            <input matInput type="number" minlength="11" placeholder="123.456.789-12" [formControl]="cpfBoletoFormControl"
              required>
            <mat-error *ngIf="cpfBoletoFormControl.invalid">O número do CPF não pode ficar em branco</mat-error>
          </mat-form-field>

          <button mat-button matStepperNext>Confirmar</button>
        </mat-expansion-panel>
      </mat-accordion>

      <button mat-button matStepperPrevious>Anterior</button>

    </ng-template>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Confirmar pedido</ng-template>
      <p>Endereço: </p>
      <p>Pagamento: </p>
      <p>Total: R$ {{ itens }} </p>
    <button mat-button matStepperPrevious>Anterior</button>
  </mat-step>
</mat-stepper>




<app-footer></app-footer>
