<app-header></app-header>
<h2>Olá User</h2>


<mat-stepper class="stepper-dados" orientation="vertical">
  <mat-step>
    <ng-template matStepLabel>Dados de entrega</ng-template>
    <ng-template matStepContent>
      <p>TODO: API CEP e preenchimento de campos</p>

      <mat-form-field class="input-endereco-cidade" appearance="fill">
        <mat-label>Cidade</mat-label>
        <input matInput placeholder="Ex. São Paulo" [formControl]="cidadeFormControl" required>
        <mat-error *ngIf="cidadeFormControl.invalid">A cidade não pode ficar em branco</mat-error>
      </mat-form-field>

      <mat-form-field class="input-endereco-estado" appearance="fill">
        <mat-label>Estado</mat-label>
        <mat-select [formControl]="estadoControl" required>
          <mat-option *ngFor="let estado of estados" [value]="estado">
            {{estado.nome}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="estadoControl.hasError('required')">Escolha um estado</mat-error>
        <mat-hint>{{estadoControl.value?.sigla}}</mat-hint>
      </mat-form-field>

      <mat-form-field class="input-endereco-cep" appearance="fill">
        <mat-label>CEP</mat-label>
        <input matInput #CEP maxlength="8" placeholder="00000-000" required>
        <mat-hint align="end">{{CEP.value.length}} / 8</mat-hint>
        <mat-error *ngIf="cepFormControl.invalid">O CEP não pode ficar em branco</mat-error>
      </mat-form-field>

      <div class="endereco-container">
        <mat-form-field class="input-endereco" appearance="fill">
          <mat-label>Endereço</mat-label>
          <input matInput placeholder="Ex. Rua Um" [formControl]="enderecoFormControl" required>
          <mat-error *ngIf="enderecoFormControl.invalid">O endereço não pode ficar em branco</mat-error>
        </mat-form-field>

        <mat-form-field class="input-endereco-bairro" appearance="fill">
          <mat-label>Bairro</mat-label>
          <input matInput placeholder="Ex. Vila Madalena" [formControl]="bairroFormControl" required>
          <mat-error *ngIf="bairroFormControl.invalid">O bairro não pode ficar em branco</mat-error>
        </mat-form-field>

        <mat-form-field class="input-endereco-numero" appearance="fill">
          <mat-label>Número</mat-label>
          <input matInput placeholder="Ex. 123" [formControl]="numeroFormControl" required>
          <mat-error *ngIf="enderecoFormControl.invalid">O número não pode ficar em branco</mat-error>
        </mat-form-field>

        <mat-form-field class="input-endereco-complemento" appearance="fill">
          <mat-label>Complemento</mat-label>
          <input matInput placeholder="">
        </mat-form-field>

        <mat-form-field class="input-endereco-referencia" appearance="fill">
          <mat-label>Referência</mat-label>
          <input matInput placeholder="">
        </mat-form-field>
      </div>
      <button mat-button matStepperNext>Próximo</button>
    </ng-template>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Forma de pagamento</ng-template>
    <ng-template matStepContent>

      <button mat-button matStepperPrevious>Anterior</button>
      <button mat-button matStepperNext>Próximo</button>
    </ng-template>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Confirmar pedido</ng-template>
    <p>This content was rendered eagerly</p>
    <button mat-button matStepperPrevious>Anterior</button>
  </mat-step>
</mat-stepper>




<app-footer></app-footer>
