
<mat-card class="card-produto-list">
    <div class="div-tittle">
        <div class="container">
            <div class="row">

              <div class="col-10">
                <button class="botao-home" (click)="goToHome()" ><mat-icon>home</mat-icon></button>
                <mat-card-title class="tittle">Lista de Produtos</mat-card-title>
              </div>
              <div class="col-2">
                <button (click) = goBack() class = "btn goBackButton">Criar + Produtos</button>
              </div>
            </div>

          </div>


    </div>

    <table class = "table table-striped table-bordered">
      <thead>
          <tr>
              <th> Nome</th>
              <th> Descrição </th>
              <th> Preço</th>
              <th> Desconto</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor = "let produto of produtos" >
              <td> {{ produto.nomeProduto }} </td>
              <td> {{ produto.descricaoProduto }} </td>
              <td> {{ produto.precoProduto }} </td>
              <td> {{ produto.descontoProduto }} </td>
              <td>
                  <button (click) = "updateProduto(produto.id)" class = "btn botaoUpdate "> Editar</button>
                  <button (click) = "deleteProduto(produto.id)" class = "btn botaoDelete " style="margin-left: 10px"> Deletar</button>
                  <button (click) = "produtoDetails(produto.id)" class = "btn botaoView " style="margin-left: 10px"> Detalhe</button>
              </td>
          </tr>
      </tbody>
    </table>
  </mat-card>
