
<mat-card class="card-usuario-list">
    <mat-card-title>Lista de Produtos</mat-card-title>
    <table class = "table table-striped table-bordered">
      <thead>
          <tr>
              <th> Nome Produto</th>
              <th> Descrição Produto </th>
              <th> Preço Produto</th>
              <th> Desconto Produto </th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor = "let produto of produtos" >
              <td> {{ produto.nomeProduto }} </td>
              <td> {{ produto.descricaoProduto }} </td>
              <td> {{ produto.precoProduto }} </td>
              <td> {{ produto.descontoProduto }} </td>
              <td>
                  <button (click) = "updateProduto(produto.id)" class = "btn btn-primary"> Update</button>
                  <button (click) = "deleteProduto(produto.id)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
                  <button (click) = "produtoDetails(produto.id)" class = "btn btn-primary" style="margin-left: 10px"> View</button>
              </td>
          </tr>
      </tbody>
    </table>
  </mat-card>
  
  
  