<div class="container">
    <div class="row">
      <div class="col-1">
        
      </div>
      <div class="col-10">
        <div class="card">
            <a href=descricaoProduto()><img src="assets/concordiaRyzen.jpg" class="d-block "></a> 
            <div class="card-body">
              <h5 class="card-title">PC Gamer Concórdia</h5>
            
              <p class="card-text">Ryzen 3 3200G, RGB, 8GB DDR4, SSD 240GB, Radeon Vega 8, Fonte 500W, Linux - 31164</p>
              <a href="#" class="btn btn-primary">COMPRAR</a>
              <a href="#" class="btn btn-primary">ADD CARRINHO</a>
            </div>
          </div>
          <div class="card">
            <a href=descricaoProduto()><img src="assets/concordia2.jpg" class="card-img-top" class="d-block "></a>
            <div class="card-body">
              <h5 class="card-title">PC Gamer Concórdia</h5>
              <p class="card-text">Processador Ryzen 5 3400G, 16GB, SSD 480GB, Fonte 500W, Windows 10 Pro - 40420</p>
              <a href="#" class="btn btn-primary">COMPRAR</a>
              <a href="#" class="btn btn-primary">ADD CARRINHO</a>
            </div>
          </div>
          <div class="card">
            <a href=descricaoProduto()> <img src="assets/NTCVulcano.jpg" class="card-img-top" class="d-block "></a>
            <div class="card-body">
              <h5 class="card-title">PC Gamer NTC Vulcano II</h5>
              <p class="card-text">PC Gamer NTC Vulcano II Intel Core i5-10400, 8GB RAM, SSD 240GB, Linux, Preto - 7159</p>
              <a href="#" class="btn btn-primary">COMPRAR</a>
              <a href="#" class="btn btn-primary">ADD CARRINHO</a>
            </div>
          </div>
          <div class="card">
            <a href=descricaoProduto()><img src="assets/concordia3.jpg" class="card-img-top" class="d-block "></a>
            <div class="card-body">
              <h5 class="card-title">PC Gamer Concórdia</h5>
              <p class="card-text">PC Gamer Concórdia Intel Core i5-9400F, 8GB, 1TB HD, 480GB SSD, Placa de Vídeo RX 550 4GB</p>
              <a href="#" class="btn btn-primary">COMPRAR</a>
              <a href="#" class="btn btn-primary">ADD CARRINHO</a>
            </div>
          </div>
          <div class="card">
            <a href=descricaoProduto()><img src="assets/Skul3000.jpg" class="card-img-top" class="d-block "></a>
            <div class="card-body">
              <h5 class="card-title">PC Gamer Skul 3000 </h5>
              <p class="card-text"> Intel Core i3-9100F, RAM 8GB, SSD 240GB, HD 1TB, PCYes GT1030 2GB, Fonte 500W</p>
              <a href="#" class="btn btn-primary">COMPRAR</a>
              <a href="#" class="btn btn-primary">ADD CARRINHO</a>
            </div>
          </div>
          <div class="card">
            <a href=descricaoProduto()><img src="assets/NTCVulcano II.jpg" class="card-img-top" class="d-block "></a>
            <div class="card-body">
              <h5 class="card-title">PC Gamer NTC Vulcano II Powered</h5>
              <p class="card-text">Powered By Asus 7182 AMD Ryzen 3 3200G, 8GB RAM, SSD 480GB, 500W, Linux</p>
              <a href="#" class="btn btn-primary">COMPRAR</a>
              <a href="#" class="btn btn-primary">ADD CARRINHO</a>
            </div>
          </div>
          <div class="card">
            <a href=descricaoProduto()><img src="assets/Skul5000.jpg" class="card-img-top" class="d-block "></a>
            <div class="card-body">
              <h5 class="card-title">Computador Gamer Skul 5000</h5>
              <p class="card-text">Computador Gamer Skul 5000 i5-9400F, Radeon RX550 4GB, 16GB DDR4, HD 1TB, Linux, Preto </p>
              <a href="#" class="btn btn-primary">COMPRAR</a>
              <a href="#" class="btn btn-primary">ADD CARRINHO</a>
            </div>
          </div>
          <div class="card">
            <a href=descricaoProduto()><img src="assets/Skul3000.jpg" class="card-img-top" class="d-block "></a>
            <div class="card-body">
              <h5 class="card-title">PC Gamer Gamer Skul 3000</h5>
              <p class="card-text">PC Gamer Gamer Skul 3000 Intel Core i3-10100F, RAM 8GB, SSD 240GB, HD 1TB, PCYes GT1030 2GB, Fonte</p>
              <a href="#" class="btn btn-primary">COMPRAR</a>
              <a href="#" class="btn btn-primary">ADD CARRINHO</a>
            </div>
          </div>
          <div class="card">
            <a href=descricaoProduto()><img src="assets/NTCPowered.jpg" class="card-img-top" class="d-block "></a>
            <div class="card-body">
              <h5 class="card-title">PC Gamer NTC Powered</h5>
              <p class="card-text">PC Gamer NTC Powered By Asus AMD Ryzen 5 5600G, 8GB, SSD 512GB, 500W, Linux - VLCRZ5600/8512</p>
              <a href="#" class="btn btn-primary">COMPRAR</a>
              <a href="#" class="btn btn-primary">ADD CARRINHO</a>
            </div>
          </div>
      </div>
      <div class="col-1">
        
      </div>
    </div>
  </div>
