<app-header></app-header>
<div class="container">

  <div class="row">
    <div class="col">
      <h1>Computador Gamer Skul 5000 i5-9400F, Radeon RX550 4GB, 16GB DDR4, HD 1TB, Linux, Preto - G9400F1T16RX5504GBP
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" style="background-color: black;"
            data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>

        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../assets/imgCarousel/produto7/pc1.jpg" class="d-block w-100" alt="...">
          </div>

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" style="background-color: black;" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" style="background-color: black;" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="col colunaComprar">
      <h2>Vendido e entregue por: Loja Cast! | <b id="estoque">Em estoque</b></h2>

      <div class="row ">
        <div class="col">
          <p><s><b>R$ 5.555,44</b></s></p>
          <p id="preco">R$ 4.519,90</p>
          <p>À vista no PIX com até <b>10% OFF</b></p>


          <p id="precoPrazo"><b>R$ 5.022,11</b></p>

          Em até 12x de <b>R$ 418,51</b> sem juros no cartão
          Ou em 1x no cartão com até <b>10% OFF</b>
        </div>
        <div class="col ">
          <a href="#" class="btn">COMPRAR</a>
        </div>
      </div>
      <div>

      </div>
    </div>
  </div>


</div>

<div class="container painel">
  <div class="row">
    <div class="col-1">

    </div>
    <div class="col-10">

      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>

              <div class="container painel">
                <div class="row">
                  <div class="col-1">
                    <span class="material-icons">
                      description
                    </span>
                  </div>
                  <div class="col">
                    <h2 id="tituloDescricaoProduto">DESCRIÇÃO DO PRODUTO</h2>
                  </div>

                </div>
              </div>

            </mat-panel-title>
            <mat-panel-description>

            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="textoDescricao">
            <p>Computador Gamer Skul 5000 i5-9400F, Radeon RX550 4GB, 16GB DDR4, HD 1TB, Linux Com uma configuração
              focada em colecionar vitórias, a linha de computadores Gamer é ideal para quem busca desempenho,
              velocidade e qualidade de imagem em seus jogos! Com componentes potentes, desde a fonte até o processador
              e a placa de vídeo, esse sem dúvida é o arsenal que você precisa para conquistar o universo dos games.</p>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div class="col-1">
    </div>
  </div>
</div>


<div class="container painel2">
  <div class="row">
    <div class="col-1">

    </div>
    <div class="col-10">

      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>

              <div class="container painel">
                <div class="row">
                  <div class="col-1">
                    <span class="material-icons">
                      priority_high
                    </span>
                  </div>
                  <div class="col">
                    <h2 id="tituloDescricaoProduto">INFORMAÇÕES TÉCNICAS</h2>
                  </div>

                </div>
              </div>

            </mat-panel-title>
            <mat-panel-description>

            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="textoDescricao">

            <p><b>Características:</b></p>
            <p>- Marca: SKUL</p>
            <p>- Modelo: G9400F1T16-RX5504GBP</p>

            <p><b>Especificações:</b></p>
            <p>- Memória: 16GB DDR4 2666MHZ</p>
            <p>- Armazenamento: HD 1TB SATA III 7200RPM</p>
            <p>- Fonte: 600W 80 PLUS WHITE</p>
            <p>- Placa mãe: ASUS TUF H310-PLUS GAMING</p>
            <p>- Soquete: 1151 - CoffeLake (Compatível com processadores de 8ª e 9ª geração da Intel)</p>
            <p>- Sistema operacional: Linux Ubuntu (instalado)</p>

            <p><b>Processador:</b></p>
            <p>- Intel Core i5-9400F 2.9Ghz (Turbo Boost 4.1Ghz)</p>
            <p>- 9MB Cache</p>
            <p>- 6 Núcleos</p>
            <p>- 6 Threads</p>
            <p>- Sem vídeo integrado</p>

            <p><b>Placa de vídeo:</b></p>
            <p>- Pcyes Grafitti Series RX550</p>
            <p>- 4Gb GDDR5 / 128bits</p>
            <p>- 1x Display Port / 1x HDMI / 1x DVI</p>
            <p>- Suporta 3 monitores</p>

            <p><b>Painel Interno:</b></p>
            <p>- Memória: DDR4 (2666 / 2400 / 2133Mhz) - 2x Slots - Dual Chanel - máx. 32GB (1 slot ocupado)</p>
            <p>- Slots de Expansão: 1x PCI-e x16 / 2x PCI-e x1</p>
            <p>- 4 x Conector(es) SATA 6Gb/s</p>
            <p>- 1 x M.2 Socket 3, com M Key, suporte a dispositivo de armazenamento tipo 2242/2260/2280 (modo SATA & x2
              PCIE)*1</p>

            <p><b>Painel Traseiro:</b></p>
            <p>- 1 porta(s) PS/2 para teclado ou mouse</p>
            <p>- 1 x VGA</p>
            <p>- 1 x HDMI</p>
            <p>- 1 x RJ-45</p>
            <p>- USB: 2x USB 3.1 / 2x USB 2.0</p>
            <p>- Conector de Áudio: 1x Line-in, 1x Line-out e 1x Mic-in</p>

            <p><b>Atenção:</b></p>
            <p>- Não acompanha: Mouse, Teclado, Caixa de som, cabo de vídeo e DVD-RW.</p>

            <p><b>Conteúdo da Embalagem:</b></p>
            <p>- Computador Gamer Skul</p>
            <p>- Cabo de força</p>
            <p>- Termo de Garantia</p>

            <p><b>Garantia:</b></p>
            <p>1 ano de garantia (9 meses de garantia contratual junto ao fabricante + 3 meses referentes à garantia legal,
              nos termos do artigo 26, II, do Código de Defesa do Consumidor)</p>

            <p><b>Peso:</b></p>
            <p>10341 gramas (bruto com embalagem)</p>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div class="col-1">
    </div>
  </div>
</div>



<app-footer></app-footer>
