<div class="container">

  <div class="row">
    <div class="col">
      <h1>PC Gamer Concórdia Intel Core i5-9400F, 8GB, 1TB HD, 480GB SSD, Placa de Vídeo RX 550 4GB, Linux - 40531</h1>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" style="background-color: black;"
            data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" style="background-color: black;"
            data-bs-slide-to="1" aria-label="Slide 2"></button>

        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../assets/imgCarousel/produto4/pc1.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/imgCarousel/produto4/pc2.jpg" class="d-block w-100" alt="...">
          </div>



        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" style="background-color: black;" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" style="background-color: black;" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="col colunaComprar">
      <h2>Vendido e entregue por: Loja Cast! | <b id="estoque">Em estoque</b></h2>

      <div class="row ">
        <div class="col">
          <p><s><b>R$ 7.299,89</b></s></p>
          <p id="preco">R$ 6.299,90</p>
          <p>À vista no PIX com até <b>10% OFF</b></p>


          <p id="precoPrazo"><b>R$ 6.999,89</b></p>

          Em até 12x de <b>R$ 583,32</b> sem juros no cartão
          Ou em 1x no cartão com até <b>10% OFF</b>
        </div>
        <div class="col ">
          <a href="#" class="btn">COMPRAR</a>
        </div>
      </div>
      <div>

      </div>
    </div>
  </div>


</div>

<div class="container painel">
  <div class="row">
    <div class="col-1">

    </div>
    <div class="col-10">

      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>

              <div class="container painel">
                <div class="row">
                  <div class="col-1">
                    <span class="material-icons">
                      description
                    </span>
                  </div>
                  <div class="col">
                    <h2 id="tituloDescricaoProduto">DESCRIÇÃO DO PRODUTO</h2>
                  </div>

                </div>
              </div>

            </mat-panel-title>
            <mat-panel-description>

            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="textoDescricao">
            

            <div class="container">
              <div class="row">
                <p id="tituloDescricao" ><b>PC Gamer Concórdia Intel Core i5-9400F, 8GB, 1TB HD, 480GB SSD, Placa de Vídeo RX 550 4GB, Linux -
                  40531.</b>
              </p>

                  <img src="../../assets/imgCarousel/produto4/pc3.jpg" alt="">
              </div>
              
              <div class="row">
                <div class="col primeiraLinha">
                  <p><b>PROCESSADOR
                      INTEL CORE I5 9400F</b></p>
                  <p>Com esse processador inovador e incrível você desfruta ao máximo o verdadeiro potencial do seu
                    computador e da mais pura velocidade.</p>

                </div>
                <div class="col primeiraLinha">
                  <img id="corei5" src="../../assets/imgCarousel/produto4/core i5.png" alt="">
                </div>

              </div>
              <hr>
              <div class="row">
                <div class="col primeiraLinha">
                  <img id="placaMae" src="../../assets/imgCarousel/produto4/placaMae.png" alt="">

                </div>
                <div class="col primeiraLinha">
                  <p><b>PLACA MÃE ASROCK
                      H310CM-HG4 DDRA4 1151</b></p>
                  <p>Oferece qualidade de vídeo substancialmente melhorada e uma experiência de profundidade maior de
                    bits.</p>
                </div>

              </div>
              <hr>
              <div class="row">
                <div class="col primeiraLinha">

                  <p><b>COOLER PCFORT
                      CL4200 PLUS COM RGB</b></p>
                  <p>Design de placa de luz superior, RGB brilhante, efeito de luz delicado, gradiente suave, comutação
                    automática de vários modos e quatro bases de resfriamento de tubo de cobre puro.</p>

                </div>
                <div class="col primeiraLinha">
                  <img id="placaMae" src="../../assets/imgCarousel/produto4/cooler.png" alt="">
                </div>

              </div>
              <hr>
              <div class="row">
                <div class="col primeiraLinha">

                  <img id="placaMae" src="../../assets/imgCarousel/produto4/placaVideo.png" alt="">

                </div>
                <div class="col primeiraLinha">
                  <p><b>PLACA DE VÍDEO
                      RADEON RX 550 4GB DDR5</b></p>

                  <p>Baseia-se na mais recente arquitetura GCN4 da AMD, projetada para o GloFo 14nm FinFET, que oferece
                    capacidade premium de VR, maior nível de desempenho, VR suave, suporte contínuo para monitores de
                    jogos da próxima geração e streaming ou gravação de jogos sem CPU.</p>
                </div>

              </div>
              
              <hr>

              <div class="row">
                <div class="col primeiraLinha">
                  <img id="placaMae" src="../../assets/imgCarousel/produto4/gabinete.png" alt="">


                </div>
                <div class="col primeiraLinha">
                  <p><b>GABINETE AX3</b></p>

                  <p>-Interior espaçoso</p>
                  <p>-Ótima ventilação</p>
                  <p>-1 Fan LED RGB incluso</p>
                  <p>-Full Tower</p>
                  <p>-Lateral de Vidro Temperado</p>
                  <p>-Filtro AntiPoeira</p>
                </div>

              </div>

              <div class="container " style="background-color: orange;">
                
                <div class="row">
                  <div class="col ">
                    <img id="fonte" src="../../assets/imgCarousel/produto4/fonte.png" alt="">
                  </div>
                  <div class="col">
                    <img id="fonte" src="../../assets/imgCarousel/produto4/ssd.png" alt="">
                  </div>
                  <div class="col">
                    <img id="fonte" src="../../assets/imgCarousel/produto4/memoria.png" alt="">
                  </div>
                  <div class="col">
                    <img id="fonte" src="../../assets/imgCarousel/produto4/sistemaLinux.png" alt="">
                  </div>
                </div>

                <div class="row fundo">
                  <div class="col" >
                    <p>Fonte</p>
                    <p>500W </p>
                    <p>PFC Ativo</p>
                  </div>
                  <div class="col ">
                    <p>Armazenamento</p>
                    <p>HD 1TB + SSD 480GB</p>
                  </div>
                  <div class="col fundo">
                    <p>Memória</p>
                    <p>2X 4GB DDR4 2666MHZ</p>
                  </div>
                  <div class="col fundo ">
                    <p>Sistema</p>
                    <p>Linux</p>
                  </div>
                </div>
              </div>

            </div>

          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div class="col-1">
    </div>
  </div>
</div>


<div class="container painel2">
  <div class="row">
    <div class="col-1">

    </div>
    <div class="col-10">

      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>

              <div class="container painel">
                <div class="row">
                  <div class="col-1">
                    <span class="material-icons">
                      priority_high
                    </span>
                  </div>
                  <div class="col">
                    <h2 id="tituloDescricaoProduto">INFORMAÇÕES TÉCNICAS</h2>
                  </div>

                </div>
              </div>

            </mat-panel-title>
            <mat-panel-description>

            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="caracteristicas">
            <p><b>Características:</b></p>
            <p>- Marca: Concórdia Informática</p>
            <p>- Modelo: 40531</p>

            <p><b>Especificações:</b></p>

            <p><b>Geral:</b></p>
            <p>- Processador: Intel Core i5</p>
            <p>- Modelo do Processador: Core i5 9400F</p>
            <p>- Memória RAM: 8GB </p>
            <p>- HD: 1TB </p>
            <p>- SSD: 480GB</p>
            <p>- Placa de Vídeo: RX 550 4gb</p>
            <p>- Caixa de Som: Opcional</p>

            <p><b>Conexões USB:</b></p>
            <p>- 2x conexões 3.0</p>
            <p>- 2x conexões 2.0</p>
            <p>- USB Frontais: 2x conexões USB 2.0</p>

            <p><b>Conexão:</b></p>
            <p>- VGA: Não</p>
            <p>- HDMI: Sim</p>
            <p>- WIFI: Sim</p>
            <p>- Paralela: Opcional</p>
            <p>- Serial: Opcional</p>
            <p>- Bluetooth: Opcional</p>

            <p><b>Detalhes:</b></p>
            <p>- Placa de Rede: 10/100/1000</p>
            <p>- Fonte: 500W PCF ATIVO</p>
            <p>- Sistema Operacional: Linux</p>
            <p>- Som: Onboard</p>

            <p><b>Outras Conexões:</b></p>
            <p>- 2x Conectores PS2 </p>
            <p>- 1x Conector RJ45</p>
            <p>- 3x Conectores de Áudio</p>
            <p>- Cor Predominante: Preto.</p>
            <p>- Fans acompanham o gabinete</p>

            <p><b>Conteúdo da Embalagem:</b></p>
            <p>- Computador Gamer Concórdia</p>

            <p><b>Garantia:</b></p>
            <p>1 ano de garantia (9 meses de garantia contratual junto ao fabricante + 3 meses referentes à garantia
              legal, nos termos do artigo 26, II, do Código de Defesa do Consumidor)</p>

            <p><b>Peso:</b></p>
            <p>14876 gramas (bruto com embalagem)</p>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div class="col-1">
    </div>
  </div>
</div>



<app-footer></app-footer>