<mat-card class="card-detalhes-produto">
    <mat-card-title>Detalhes do Produto</mat-card-title>
    <div>
        <div>
            <label> <b> Nome Produto: </b></label> {{produto.nomeProduto}}
        </div>
        <div>
            <label> <b> Descrição Produto: </b></label> {{produto.descricaoProduto}}
        </div>
        <div>
            <label> <b> Preço Produto: </b></label> {{produto.precoProduto}}
        </div>
        <div>
            <label> <b> Desconto Produto: </b></label> {{produto.descontoProduto}}
        </div>
    </div>
</mat-card>