<mat-card class="card-detalhes-produto">
    <div class="div-tittle">
        <mat-card-title class="tittle">Detalhes do Produto</mat-card-title>
    </div>
    <div>
        <div>
            <label> <b> Nome: </b></label> {{produto.nomeProduto}}
        </div>
        <div>
            <label> <b> Descrição: </b></label> {{produto.descricaoProduto}}
        </div>
        <div>
            <label> <b> Preço: </b></label> {{produto.precoProduto}}
        </div>
        <div>
            <label> <b> Desconto: </b></label> {{produto.descontoProduto}}
        </div>
    </div>
</mat-card>