<app-header></app-header>
<div class="container">

  <div class="row">
    <div class="col">
      <h1>PC Gamer NTC Vulcano II Intel Core i5-9400, 8GB, 240GB SSD, Linux - 7151</h1>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" style="background-color: black;"
            data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" style="background-color: black;"
            data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" style="background-color: black;"
            data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" style="background-color: black;"
            data-bs-slide-to="3" aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" style="background-color: black;"
            data-bs-slide-to="4" aria-label="Slide 5"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" style="background-color: black;"
            data-bs-slide-to="5" aria-label="Slide 6"></button>

        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../assets/imgCarousel/produto8/pc1.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/imgCarousel/produto8/pc2.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/imgCarousel/produto8/pc3.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/imgCarousel/produto8/pc4.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/imgCarousel/produto8/pc5.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/imgCarousel/produto8/pc6.jpg" class="d-block w-100" alt="...">
          </div>


        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" style="background-color: black;" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" style="background-color: black;" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="col colunaComprar">
      <h2>Vendido e entregue por: Loja Cast! | <b id="estoque">Em estoque</b></h2>

      <div class="row ">
        <div class="col">
          <p><s><b>R$ 4.588,78</b></s></p>
          <p id="preco">R$ 3.499,90</p>
          <p>À vista no PIX com até <b>10% OFF</b></p>


          <p id="precoPrazo"><b>R$ 3.888,78</b></p>

          Em até 12x de <b>R$ 324,06</b> sem juros no cartão
          Ou em 1x no cartão com até <b>10% OFF</b>
        </div>
        <div class="col ">
          <a href="#" class="btn">COMPRAR</a>
        </div>
      </div>
      <div>

      </div>
    </div>
  </div>


</div>

<div class="container painel">
  <div class="row">
    <div class="col-1">

    </div>
    <div class="col-10">

      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>

              <div class="container painel">
                <div class="row">
                  <div class="col-1">
                    <span class="material-icons">
                      description
                    </span>
                  </div>
                  <div class="col">
                    <h2 id="tituloDescricaoProduto">DESCRIÇÃO DO PRODUTO</h2>
                  </div>

                </div>
              </div>

            </mat-panel-title>
            <mat-panel-description>

            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="textoDescricao">
            <p>O PC Gamer NTC Vulcano II 7151, vem equipado com processador Intel Core i5 9400 de 9ª Geração, Placa Mãe
              Gigabyte H310M-S2P 2.0, 8GB de Memoria RAM DDR4 2666 Mhz (1x8GB), SSD de 240GB Sata 3 2.5", Fonte de
              alimentação de 500W reais com 80 Plus Bronze e PFC Ativo e o Gabinete Gamer Odyssey.</p>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div class="col-1">
    </div>
  </div>
</div>


<div class="container painel2">
  <div class="row">
    <div class="col-1">

    </div>
    <div class="col-10">

      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>

              <div class="container painel">
                <div class="row">
                  <div class="col-1">
                    <span class="material-icons">
                      priority_high
                    </span>
                  </div>
                  <div class="col">
                    <h2 id="tituloDescricaoProduto">INFORMAÇÕES TÉCNICAS</h2>
                  </div>

                </div>
              </div>

            </mat-panel-title>
            <mat-panel-description>

            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="textoDescricao">

            <p><b>Características:</b></p>
            <p>- Marca: NTC</p>
            <p>- Modelo: 7151</p>

            <p><b>Especificações:</b></p>

            <p><b>Gabinete:</b></p>
            <p>- Gamer CG-04RD - Odyssey Black</p>

            <p><b>Processador:</b></p>
            <p>- Intel Core i5 9400</p>
            <p>- Socket: 1151</p>
            <p>- Clock: 2.9GHz - 4.10Ghz</p>
            <p>- 9 MB Cache L3</p>

            <p><b>Memória RAM:</b></p>
            <p>- 8GB (1 x 8GB)</p>
            <p>- Tipo: DDR4</p>
            <p>- Veloicidade: 2666 Mhz</p>

            <p><b>Armazenamento:</b></p>
            <p>- 1 x SSD 240GB Sata 3 2.5"</p>

            <p><b>Fonte:</b></p>
            <p>- Potência: 500W</p>
            <p>- Certificação: 80 Plus Bronze</p>
            <p>- PFC Ativo</p>

            <p><b>Placa Mãe:</b></p>
            <p>- Gigabyte H310M-S2P 2.0</p>

            <p><b>Gráficos:</b></p>
            <p>- Onboard - Intel® UHD Graphics 630</p>

            <p><b>Sistema Operacional:</b></p>
            <p>- Windows 10 PRO 64 Bits (Versão de Avaliação)</p>

            <p><b>ATENÇÃO:</b></p>
            <p>* Não acompanha gravador de CD/DVD, Teclado, Mouse e caixas de som</p>

            <p><b>Conteúdo da embalagem:</b></p>
            <p>- 1 x Computador Gamer NTC Vulcano II</p>

            <p><b>Garantia:</b></p>
            <p>1 ano de garantia (9 meses de garantia contratual junto ao fabricante + 3 meses referentes à garantia legal,
              nos termos do artigo 26, II, do Código de Defesa do Consumidor)</p>

            <p><b>Peso:</b></p>
            <p>12219 gramas (bruto com embalagem)</p>

          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div class="col-1">
    </div>
  </div>
</div>



<app-footer></app-footer>
