.card-update-produto {
  margin: 5% 0% 0% 10%;
  width: 80%;

  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
}

.table {
  text-align: center;
  border: 1px solid black;
  width: 96%;
  margin-left: 2%;
  margin-top: 1%;
  font-size: 17px;
}

label {
  margin-left: 2%;
  font-size: 17px;
  width: 95%;
}
input {
  margin-left: 2%;
  margin-top: 1%;
  width: 95%;
  border-radius: 10px;
}

.form-group {
  color: black;
  font-size: 17px;
  margin-top: 2%;
  font-weight: bold;
}

.tittle {
  margin-top: 1%;
  font-weight: bold;
}
.div-tittle {
  text-align: center;
  border-radius: 10px;
  border: 2px solid black;
  margin-left: 0;
  padding: 10px;
  background-color: orange;
}


.botaoEditar {
  font-size: 20px;
  font-weight: bold;
  color: black;
  background-color: orange;
  width: 200%;
  border: 3px solid black;
  transition: background 1s;
  border-radius: 10px;
}

.botaoEditar:hover {
  font-size: 20px;
  font-weight: bold;
  color: black;
  background-color: white;
  width: 200%;
  border: 3px solid orange;
  border-radius: 10px;
}

.goBackButton {
  border: 3px solid white;
  border-radius: 10px;
  background-color: green;
  color: white;
  font-weight: bold;
  transition: background 1sg;
}

.goBackButton:hover {
  border: 3px solid green;
  border-radius: 10px;
  background-color: white;
  color: black;
  font-weight: bold;
}

.btn {
  border-radius: 10px;
}