<mat-card class="card-update-produto">

  <div class="div-tittle">

    <div class="container">
      <div class="row">

        <div class="col-10">
          <mat-card-title class="tittle">Editar Produto</mat-card-title>
        </div>
        <div class="col-2">
          <button (click) = goBack() class = "btn goBackButton">Voltar</button>
        </div>
        
      </div>

    </div>
    
  </div>




  
  <div class="form-group">
    <label> Nome </label>
    <input type="text" class="form-control" id="nomeProduto" [(ngModel)]="produto.nomeProduto" name="nomeProduto">
  </div>

  <div class="form-group">
    <label> Descrição </label>
    <input type="text" class="form-control" id="descricaoProduto" [(ngModel)]="produto.descricaoProduto"
      name="descricaoProduto">
  </div>

  <div class="form-group">
    <label> Preço  </label>
    <input type="text" class="form-control" id="precoProduto" [(ngModel)]="produto.precoProduto" name="precoProduto">
  </div>

  <div class="form-group">
    <label> Desconto  </label>
    <input type="text" class="form-control" id="descontoProduto" [(ngModel)]="produto.descontoProduto"
      name="descontoProduto">
  </div>
  <br />
  <div class="container">
    <div class="row">
      <div class="col-2">

      </div>
      <div class="col-4 ">
        <button class="btn botaoEditar" type="submit">Editar</button>
      </div>
      <div class="co-2">

      </div>
    </div>
  </div>
</mat-card>