<app-header></app-header>
<div class="container">

    <div class="row">
      <div class="col">
        <h1>PC Gamer Concórdia, Processador Ryzen 5 3400G, 16GB, SSD 480GB, Fonte 500W, Windows 10 Pro - 40420</h1>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" style="background-color: black;"
              data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" style="background-color: black;"
              data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" style="background-color: black;"
              data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" style="background-color: black;"
              data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" style="background-color: black;"
              data-bs-slide-to="4" aria-label="Slide 5"></button>

          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../../assets/imgCarousel/produto2/pc1.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../../assets/imgCarousel/produto2/pc2.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../../assets/imgCarousel/produto2/pc3.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../../assets/imgCarousel/produto2/pc4.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../../assets/imgCarousel/produto2/pc5.jpg" class="d-block w-100" alt="...">
            </div>


          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" style="background-color: black;" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" style="background-color: black;" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div class="col colunaComprar">
        <h2>Vendido e entregue por: Loja Cast! | <b id="estoque">Em estoque</b></h2>

        <div class="row ">
          <div class="col">
            <s><p><b>R$ 5.555,44</b></p></s>
            <p id="preco">R$ 4.399,90</p>
            <p>À vista no PIX com até <b>10% OFF</b></p>


              <p id="precoPrazo"><b>R$ 4.888,78</b></p>

            Em até 12x de <b>R$ 289,81</b> sem juros no cartão
            Ou em 1x no cartão com até <b>10% OFF</b>
          </div>
          <div class="col ">
            <a href="#" class="btn">COMPRAR</a>
          </div>
        </div>
        <div>

        </div>
      </div>
    </div>


  </div>

  <div class="container painel">
    <div class="row">
      <div class="col-1">

      </div>
      <div class="col-10">

        <mat-accordion>
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>

                <div class="container painel">
                  <div class="row">
                    <div class="col-1">
                      <span class="material-icons">
                        description
                      </span>
                    </div>
                    <div class="col">
                      <h2 id="tituloDescricaoProduto">DESCRIÇÃO DO PRODUTO</h2>
                    </div>

                  </div>
                </div>

              </mat-panel-title>
              <mat-panel-description>

              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="textoDescricao">
              <b>
                <p>PC Gamer Concórdia, Processador Ryzen 5 3400G, 16GB, SSD 480GB, Fonte 500W, Windows 10 Pro</p>
              </b>

              <p>Altíssimo desempenho para a sua experiência ser ainda melhor!</p>

              <b>
                <p>Processador com Gráficos Integrados</p>
              </b>
              <p>O Processador <b>Ryzen 5 3400G</b> com 3.7GHz é uma excelente opção para quem que um bom custo benefício,
                com os
                <b>gráficos integrados</b> Radeon RX Vega 11 Graphics tenha um ótimo desempenho na sua Gameplay.
              </p>

              <b>
                <p>Placa Mãe Eficiente</p>
              </b>
              <p>Com design de PWM (Pulse-Width Modulation) digital de próxima geração, o que oferece voltagem de Vcore da
                CPU
                mais eficiente e suave, para que a <b>estabilidade</b> e o tempo de vida da placa-mãe seja grandemente
                melhorado.
              </p>

              <b>
                <p>Agilidade nas tarefas</p>
              </b>
              <p>O Computador Gamer é equipado com um <b>SSD de 480GB e Windows 10 Pro</b>, que com o processador garantem
                uma
                velocidade excelente.</p>

              <b>
                <p>Seu PC Gamer você encontra aqui na Loja Cast!</p>
              </b>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <div class="col-1">
      </div>
    </div>
  </div>


  <div class="container painel2">
    <div class="row">
      <div class="col-1">

      </div>
      <div class="col-10">

        <mat-accordion>
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>

                <div class="container painel">
                  <div class="row">
                    <div class="col-1">
                      <span class="material-icons">
                        priority_high
                      </span>
                    </div>
                    <div class="col">
                      <h2 id="tituloDescricaoProduto">INFORMAÇÕES TÉCNICAS</h2>
                    </div>

                  </div>
                </div>

              </mat-panel-title>
              <mat-panel-description>

              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="textoDescricao">

              <b><p>Características:</p></b>

              <p>- Marca: Concórdia</p>
              <p>- Modelo: 40420</p>

              <b><p>Especificações:</p></b>
              <b><p>Geral:</p></b>

              <p>- Processador: Ryzen</p>
              <p>- Modelo do Processador: AMD Ryzen 5 3400G AM4 Radeon RX Vega 11 Graphics</p>
              <p>- Memória RAM: 16GB</p>
              <p>- SSD 480GB</p>

              <b><p>Cor Predominante:</p></b>
              <p>- Preto</p>

              <b><p>Conexões USB:</p></b>
              <p>- 2x conexões 3.0</p>
              <p>- 2x conexões 2.0</p>
              <p>- USB Frontais: 2x conexões USB 2.0</p>
              <p>- VGA: Não</p>
              <p>- HDMI: Sim</p>

              <b><p>Placa de Rede:</p></b>
              <p>- 10/100/1000</p>

              <b><p>Fonte:</p></b>
              <p>- 500W</p>

              <b><p>Ventilação:</p></b>

              <p>- Ventilação Frontal: compatível com 3 Fans 120mm (não inclusos)</p>
              <p>- Ventilação Traseira: compatível com 1 Fan 120mm (1 Fan Led RGB Incluso)</p>
              <p>- Ventilação Superior: compatível com 2 Fans 120mm (não incluso)</p>

              <b><p>Sistema Operacional:</p></b>
              <p>- Windows 10 Pro</p>

              <b><p>Som:</p></b>
              <p>- Onboard</p>

              <b><p>Outras Conexões:</p></b>
              <p>- 2x Conectores PS2</p>
              <p>- 1x Conector RJ45</p>
              <p>- 3x Conectores de Áudio</p>

              <b><p>Dimensões do produto (L x P x A):</p></b>
              <p>- 59 x 36 x 58cm</p>

              <b><p>Conteúdo da Embalagem:</p></b>
              <p>- Computador Gamer Concórdia</p>
              <p>- Fans RGb inclusos no gabinete</p>
              <p>- Fonte</p>

              <b><p>Garantia:</p></b>
              <p>1 ano de garantia (9 meses de garantia contratual junto ao fabricante + 3 meses referentes à garantia legal,
                nos termos do artigo 26, II, do Código de Defesa do Consumidor)</p>

              <b><p>Peso:</p></b>
              <p>11995 gramas (bruto com embalagem)</p>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <div class="col-1">
      </div>
    </div>
  </div>



  <app-footer></app-footer>
