<div class="container">

  <div class="row">
    <div class="col">
      <h1>Computador Gamer Skul 5000 i5-9400F, Radeon RX550 4GB, 16GB DDR4, HD 1TB, Linux, Preto - G9400F1T16RX5504GBP
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" style="background-color: black;"
            data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" style="background-color: black;"
            data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" style="background-color: black;"
            data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" style="background-color: black;"
            data-bs-slide-to="3" aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" style="background-color: black;"
            data-bs-slide-to="4" aria-label="Slide 5"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" style="background-color: black;"
            data-bs-slide-to="5" aria-label="Slide 6"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../assets/imgCarousel/produto6/pc1.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/imgCarousel/produto6/pc2.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/imgCarousel/produto6/pc3.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/imgCarousel/produto6/pc4.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/imgCarousel/produto6/pc5.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/imgCarousel/produto6/pc6.jpg" class="d-block w-100" alt="...">
          </div>

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" style="background-color: black;" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" style="background-color: black;" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="col colunaComprar">
      <h2>Vendido e entregue por: Loja Cast! | <b id="estoque">Em estoque</b></h2>

      <div class="row ">
        <div class="col">

          <s><b>
              <p>R$ 3.999,89</p>
            </b></s>
          <p id="preco">R$ 3.199,90</p>
          <p>À vista no PIX com até <b>10% OFF</b></p>


          <p id="precoPrazo"><b>R$ 3.555,44</b></p>

          Em até 12x de <b>R$ 296,29</b> sem juros no cartão
          Ou em 1x no cartão com até <b>10% OFF</b>
        </div>
        <div class="col ">
          <a href="#" class="btn">COMPRAR</a>
        </div>
      </div>
      <div>

      </div>
    </div>
  </div>


</div>

<div class="container painel">
  <div class="row">
    <div class="col-1">

    </div>
    <div class="col-10">

      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>

              <div class="container painel">
                <div class="row">
                  <div class="col-1">
                    <span class="material-icons">
                      description
                    </span>
                  </div>
                  <div class="col">
                    <h2 id="tituloDescricaoProduto">DESCRIÇÃO DO PRODUTO</h2>
                  </div>

                </div>
              </div>

            </mat-panel-title>
            <mat-panel-description>

            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="textoDescricao">
            <p>Computador Gamer NTC Powered By Asus Vulcano II 7182 AMD Ryzen 3 3200G O Computador Gamer Powered By Asus
              Vulcano II 7182, vem equipado com processador AMD Ryzen 3 3200G com 4 Nucleos e 4 Threads de 3.6Ghz a
              4.0Ghz
              no modo Turbo, Placa Mãe Asus Prime A320M-K/BR, 8GB de Memoria RAM DDR4 2666 Mhz (1x8GB), SSD de 480GB,
              Fonte de alimentação de 500W reais com 80 Plus Bronze e PFC Ativo e o Gabinete Black Hawk.</p>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div class="col-1">
    </div>
  </div>
</div>


<div class="container painel2">
  <div class="row">
    <div class="col-1">

    </div>
    <div class="col-10">

      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>

              <div class="container painel">
                <div class="row">
                  <div class="col-1">
                    <span class="material-icons">
                      priority_high
                    </span>
                  </div>
                  <div class="col">
                    <h2 id="tituloDescricaoProduto">INFORMAÇÕES TÉCNICAS</h2>
                  </div>

                </div>
              </div>

            </mat-panel-title>
            <mat-panel-description>

            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="textoDescricao">

            <b>
              <p>Características:</p>
            </b>

            <p>- Marca: NTC</p>
            <p>- Modelo: 7182</p>

            <b>
              <p>Especificações:</p>
            </b>

            <p><b>Gabinete:</b></p>
            <p>- Gabinete Gamer Middle Tower</p>
            <p>- Black Hawk</p>
            <p>- CG-05QI</p>

            <p><b>Fonte:</b></p>
            <p>- 500W</p>
            <p>- 80 Plus Bronze</p>
            <p>- PFC Ativo</p>

            <p><b>Placa Mãe:</b></p>
            <p>- Asus Prime A320M-K/BR</p>

            <p><b>Processador:</b></p>
            <p>- AMD Ryzen 3 3200G</p>
            <p>- 3.6Ghz ~ 4.0Ghz</p>
            <p>- 4MB L3 Cache</p>

            <p><b>Memoria RAM:</b></p>
            <p>- 8GB</p>
            <p>- DDR4</p>
            <p>- 2666 MHZ (1X8GB)</p>

            <p><b>SSD:</b></p>
            <p>- 480 GB</p>

            <p><b>Placa De Vídeo:</b></p>
            <p>- Onboard</p>
            <p>- Radeon™ Vega 8 Graphics</p>

            <p><b>Sistema Operacional:</b></p>
            <p>- Linux 64 Bits</p>

            <p><b>ATENÇÃO:</b></p>
            <p><b>- NÃO ACOMPANHA GRAVADOR DE CD/DVD, TECLADO, MOUSE E CAIXAS DE SOM</b></p>
            <p><b>- IMAGEM MERAMENTE ILUSTRATIVA, PRODUTO NÃO ACOMPANHA OS COOLERS APENAS O PAINEL FRONTAL RGB.</b></p>

            <p><b>Conteúdo da Embalagem:</b></p>
            <p>- Computador Gamer NTC Powered By Asus Vulcano II 7182</p>

            <p><b>Garantia:</b></p>
            <p>1 ano de garantia (9 meses de garantia contratual junto ao fabricante + 3 meses referentes à garantia
              legal,
              nos termos do artigo 26, II, do Código de Defesa do Consumidor)</p>

            <p><b>Peso:</b></p>
            <p>11761 gramas (bruto com embalagem)</p>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div class="col-1">
    </div>
  </div>
</div>



<app-footer></app-footer>