<app-header></app-header>



<div class="container formCadastro">
  <div class="row">

    <div class="col">
    </div>

    <div class="col corpo-cadastro">
      <form class="example-form">
        <div class="tituloCadastro">

          <h2>QUERO ME CADASTRAR</h2>

        </div>
        <mat-form-field class="input-email-usuario" appearance="fill">
          <mat-label>Nome</mat-label>
          <input [(ngModel)]="nome" type="text" matInput placeholder="Nome Completo"
            [formControl]="nomeFormControl" required>
          <mat-error *ngIf="emailFormControl.invalid">O e-mail não pode ficar em branco</mat-error>
        </mat-form-field>

        <mat-form-field class="input-email-usuario" appearance="fill">
          <mat-label>E-mail</mat-label>
          <input [(ngModel)]="email" type="email" matInput placeholder="Ex. pat@example.com"
            [formControl]="emailFormControl" required>
          <mat-error *ngIf="emailFormControl.invalid">O e-mail não pode ficar em branco</mat-error>
        </mat-form-field>

        <mat-form-field class="input-senha-usuario" appearance="fill">
          <mat-label>Crie sua senha</mat-label>
          <input [(ngModel)]="senha" type="password" matInput placeholder="" [formControl]="senhaFormControl" required>
          <mat-error *ngIf="senhaFormControl.invalid">A senha não pode ficar em branco</mat-error>
        </mat-form-field>

        <mat-form-field class="input-confirmSenha-usuario" appearance="fill">
          <mat-label>Confirme sua senha</mat-label>
          <input matInput  type="password" placeholder="" [formControl]="confirmSenhaFormControl" required>
          <mat-error *ngIf="confirmSenhaFormControl.invalid">A confirmação da senha não pode ficar em branco</mat-error>
        </mat-form-field>

        <mat-form-field class="input-cpf-usuario" appearance="fill">
          <mat-label>CPF ou CNPJ</mat-label>
          <input matInput [(ngModel)]="cpf" placeholder="123.XXX.XXX-XX ou 61.XXX.XXX/XXXX-XX"
            [formControl]="cpfFormControl" required>
          <mat-error *ngIf="cpfFormControl.invalid">O CPF/CNPJ não pode ficar em branco</mat-error>
        </mat-form-field>


        <mat-form-field class="input-endereco-cep" appearance="fill">
          <mat-label>CEP</mat-label>
          <input matInput type="number" minlength="8" placeholder="00000-000" [formControl]="cepFormControl" required>
          <mat-error *ngIf="cepFormControl.invalid">O CEP não pode ficar em branco</mat-error>
        </mat-form-field>

        <div class="example-button-row">
          <button (click)="cadastrarLogin()" mat-raised-button>CADASTRAR</button>
        </div>

      </form>


    </div>

    <div class="col">
    </div>

  </div>
</div>
<app-footer></app-footer>
