<mat-card class="card-detalhes-usuario">
    <div class="div-tittle">

        <div class="row">
        
            <div class="col-10">
                <mat-card-title class="tittle">Detalhes do Usuário</mat-card-title>
            </div>
            <div class="col-2">
                <button (click) = goBack() class = "btn goBackButton">Voltar</button>
              </div>
          </div>

        
    </div>

    <div>
        <div>
            <label> <b> Nome: </b></label> {{usuario.nome}}
        </div>
        <div>
            <label> <b> CPF: </b></label> {{usuario.cpf}}
        </div>
        <div>
            <label> <b> Email: </b></label> {{usuario.email}}
        </div>
    </div>
</mat-card>
