<app-header></app-header>
<div class="container quemSomos">
    <div class="row">

        <div class="col-4 primeiraColuna">

            <h1>Prazos de Entrega</h1>

            <p>Todos nossos vendedores são homologados para envio e entrega via Correios. Todos nossos vendedores também
                possuem contrato com os Correios.</p>

            <p>Para maiores informações sobre os prazos dos Correios, favor acessar: www.correios.com.br</p>

            <p>A Loja Cast não garante a entrega nos casos de insucessos provocados por: cliente ausente, dados
                cadastrais incorretos, recusa pelo cliente ou funcionários de endereços residenciais e comerciais, mudança
                de endereço, endereços comerciais fechados, área de risco e desastres naturais (força maior). A entrega será
                realizada dentro do prazo e no local indicado na Confirmação do Pedido.</p>

            <p> <b>*Nós não nos responsabilizamos por eventuais atrasos dos correios.</b> </p>

        </div>

        <div class="col-4 entrega">
            <img src="assets/entrega.png" alt="">
          </div>
    </div>
</div>
<app-footer></app-footer>
