<app-header></app-header>
<div class="container">

  <div class="row">
    <div class="col">
      <h1>PC Gamer Skul 3000 Intel Core i3-9100F, RAM 8GB, SSD 240GB, HD 1TB, PCYes GT1030 2GB, Fonte 500W, Linux -
        106999</h1>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" style="background-color: black;"
            data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" style="background-color: black;"
            data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" style="background-color: black;"
            data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" style="background-color: black;"
            data-bs-slide-to="3" aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" style="background-color: black;"
            data-bs-slide-to="4" aria-label="Slide 5"></button>

        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../assets/imgCarousel/produto5/pc1.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/imgCarousel/produto5/pc2.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/imgCarousel/produto5/pc3.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/imgCarousel/produto5/pc4.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/imgCarousel/produto5/pc5.jpg" class="d-block w-100" alt="...">
          </div>


        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" style="background-color: black;" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" style="background-color: black;" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="col colunaComprar">
      <h2>Vendido e entregue por: Loja Cast! | <b id="estoque">Em estoque</b></h2>

      <div class="row ">
        <div class="col">
          <p><b><s>R$ 4.588,78</s></b></p>
          <p id="preco">R$ 3.599,90</p>
          <p>À vista no PIX com até <b>10% OFF</b></p>


          <p id="precoPrazo"><b>R$ 3.999,89</b></p>

          Em até 12x de <b>R$ 333,32</b> sem juros no cartão
          Ou em 1x no cartão com até <b>10% OFF</b>
        </div>
        <div class="col ">
          <a href="#" class="btn">COMPRAR</a>
        </div>
      </div>
      <div>

      </div>
    </div>
  </div>


</div>

<div class="container painel">
  <div class="row">
    <div class="col-1">

    </div>
    <div class="col-10">

      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>

              <div class="container painel">
                <div class="row">
                  <div class="col-1">
                    <span class="material-icons">
                      description
                    </span>
                  </div>
                  <div class="col">
                    <h2 id="tituloDescricaoProduto">DESCRIÇÃO DO PRODUTO</h2>
                  </div>

                </div>
              </div>

            </mat-panel-title>
            <mat-panel-description>

            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="textoDescricao">


            <div class="container">
              <div class="row">
                <b>
                  <p><b>PC Gamer Skul 3000 Intel Core i3-9100F, RAM 8GB, SSD 240GB, HD 1TB, PCYes GT1030 2GB, Fonte 500W,
                      Linux - 106999.</b></p>
                </b>
                  <img src="../../assets/imgCarousel/produto5/pc6.jpg" alt="">
              </div>

              <div class="row">
                <div class="col-6 primeiraLinha">
                  <p><b>PROCESSADOR
                      INTEL CORE I5 9400F</b></p>
                  <p>Com esse processador inovador e incrível você desfruta ao máximo o verdadeiro potencial do seu
                    computador e da mais pura velocidade.</p>

                </div>
                <div class="col-6 primeiraLinha">
                  <img id="corei5" src="../../assets/imgCarousel/produto4/core i5.png" alt="">
                </div>

              </div>
              <hr>
              <div class="row">
                <div class="col primeiraLinha">
                  <img id="placaMae" src="../../assets/imgCarousel/produto4/placaMae.png" alt="">

                </div>
                <div class="col primeiraLinha">
                  <p><b>PLACA MÃE ASROCK
                      H310CM-HG4 DDRA4 1151</b></p>
                  <p>Oferece qualidade de vídeo substancialmente melhorada e uma experiência de profundidade maior de
                    bits.</p>
                </div>

              </div>
              <hr>
              <div class="row">
                <div class="col primeiraLinha">

                  <p><b>COOLER PCFORT
                      CL4200 PLUS COM RGB</b></p>
                  <p>Design de placa de luz superior, RGB brilhante, efeito de luz delicado, gradiente suave, comutação
                    automática de vários modos e quatro bases de resfriamento de tubo de cobre puro.</p>

                </div>
                <div class="col primeiraLinha">
                  <img id="placaMae" src="../../assets/imgCarousel/produto4/cooler.png" alt="">
                </div>

              </div>
              <hr>
              <div class="row">
                <div class="col primeiraLinha">

                  <img id="placaMae" src="../../assets/imgCarousel/produto4/placaVideo.png" alt="">

                </div>
                <div class="col primeiraLinha">
                  <p><b>PLACA DE VÍDEO
                      RADEON RX 550 4GB DDR5</b></p>

                  <p>Baseia-se na mais recente arquitetura GCN4 da AMD, projetada para o GloFo 14nm FinFET, que oferece
                    capacidade premium de VR, maior nível de desempenho, VR suave, suporte contínuo para monitores de
                    jogos da próxima geração e streaming ou gravação de jogos sem CPU.</p>
                </div>

              </div>

              <hr>

              <div class="row">
                <div class="col primeiraLinha">
                  <img id="placaMae" src="../../assets/imgCarousel/produto4/gabinete.png" alt="">


                </div>
                <div class="col primeiraLinha">
                  <p><b>GABINETE AX3</b></p>

                  <p>-Interior espaçoso</p>
                  <p>-Ótima ventilação</p>
                  <p>-1 Fan LED RGB incluso</p>
                  <p>-Full Tower</p>
                  <p>-Lateral de Vidro Temperado</p>
                  <p>-Filtro AntiPoeira</p>
                </div>

              </div>

              <div class="container " style="background-color: orange;">

                <div class="row">
                  <div class="col ">
                    <img id="fonte" src="../../assets/imgCarousel/produto4/fonte.png" alt="">
                  </div>
                  <div class="col">
                    <img id="fonte" src="../../assets/imgCarousel/produto4/ssd.png" alt="">
                  </div>
                  <div class="col">
                    <img id="fonte" src="../../assets/imgCarousel/produto4/memoria.png" alt="">
                  </div>
                  <div class="col">
                    <img id="fonte" src="../../assets/imgCarousel/produto4/sistemaLinux.png" alt="">
                  </div>
                </div>

                <div class="row fundo">
                  <div class="col">
                    <p>Fonte</p>
                    <p>500W</p>
                    <p>PFC Ativo</p>
                  </div>
                  <div class="col ">
                    <p>Armazenamento</p>
                    <p>HD 1TB + SSD 480GB</p>
                  </div>
                  <div class="col fundo">
                    <p>Memória</p>
                    <p>2X 4GB DDR4 2666MHZ</p>
                  </div>
                  <div class="col fundo ">
                    <p>Sistema</p>
                    <p>Linux</p>
                  </div>
                </div>
              </div>

            </div>

          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div class="col-1">
    </div>
  </div>
</div>


<div class="container painel2">
  <div class="row">
    <div class="col-1">

    </div>
    <div class="col-10">

      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>

              <div class="container painel">
                <div class="row">
                  <div class="col-1">
                    <span class="material-icons">
                      priority_high
                    </span>
                  </div>
                  <div class="col">
                    <h2 id="tituloDescricaoProduto">INFORMAÇÕES TÉCNICAS</h2>
                  </div>

                </div>
              </div>

            </mat-panel-title>
            <mat-panel-description>

            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="caracteristicas">

            <p><b>Características:</b></p>
            <p>- Marca: Skul</p>
            <p>- Modelo: 106999</p>

            <p><b>Especificações:</b></p>

            <p><b>Processador:</b></p>
            <p>- Intel Core i3-9100F</p>
            <p>- 3.6Ghz (Turbo 4.2Ghz) 6MB CACHE</p>
            <p>- 4 Núcleos</p>
            <p>- 4 Threads (Sem vídeo integrado)</p>

            <p><b>Placa mãe:</b></p>
            <p>- ASUS TUF H310-Plus Gaming</p>
            <p>- Projetadas com componentes de alta durabilidade, essas placas-mãe oferecem estabilidade inabalável para
              longas sessões de jogo</p>

            <p><b>Placa de Vídeo:</b></p>
            <p>- GT 1030 PCYES</p>
            <p>- 2 Gb</p>
            <p>- GDDR5</p>
            <p>- 64 Bits (Suporta 2 monitores)</p>

            <p><b>Gabinete:</b></p>
            <p>- Lateral esquerda com acrílico</p>
            <p>- Frontal em metal</p>
            <p>- Suporta cable management 20mm</p>
            <p>- Tool-less e tool-free</p>

            <p><b>Fonte:</b></p>
            <p>- Pcyes Spark</p>
            <p>- 500W PFC Ativo</p>

            <p><b>Armazenamento:</b></p>
            <p>- SSD Kingston A400 240GB</p>
            <p>- HD 1TB SATA III 7200RPM</p>

            <p><b>Memória:</b></p>
            <p>- Adata 8GB</p>
            <p>- DDR4 3200MHZ</p>

            <p><b>Conteúdo da Embalagem:</b></p>
            <p>- Computador Gamer Skul</p>

            <p><b>Garantia:</b></p>
            <p>1 ano de garantia (9 meses de garantia contratual junto ao fabricante + 3 meses referentes à garantia
              legal,
              nos termos do artigo 26, II, do Código de Defesa do Consumidor)</p>

            <p><b>Peso:</b></p>
            <p>12000 gramas (bruto com embalagem)</p>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div class="col-1">
    </div>
  </div>
</div>



<app-footer></app-footer>
