<app-header></app-header>
<div class="container quemSomos">
    <div class="row">

        <div class="col-12">

            <h1>Quem Somos</h1>

            <h4>Referência no Brasil</h4>
            <p>Há mais de 1 ano atuando na venda e distribuição de produtos de Informática, Eletrônicos, Games e
                Telefonia, a
                Loja Cast se tornou referência no Brasil no que se refere à qualidade dos produtos comercializados
                com o melhor custo benefício.</p>

            <h4>Montamos uma grande estrutura para você, de verdade.</h4>
            <p>Atualmente trabalhamos apenas com vendedores homologados, que conhecem a operação e apoiam a satisfação
                de nossos
                consumidores em primeiro lugar. Nós trabalhamos com um mix de 5000 produtos para melhor te atender.</p>

            <h4>Somente produtos de procedência certificada</h4>
            <p> A Loja Cast comercializa produtos diretamente provenientes dos fabricantes, dos distribuidores
                oficiais ou de lojas parceiras, portanto, os clientes encontrarão somente produtos de qualidade e com
                garantia conjunta de
                nossa empresa e do canal responsável.</p>

            <h4>Nosso compromisso é com você.</h4>
            <p>Em parceria com as maiores marcas da informática mundial, os esforços de nossa empresa estão direcionados
                para a
                constante melhoria de atendimento e para o alcance da completa satisfação de nossos clientes.</p>

            <h4>Somos reconhecidos pela nossa qualidade e comprometimento.</h4>
            <p>Imbuídos por essa filosofia, nos últimos anos a Loja Cast conquistou prêmios nas mais diversas
                categorias, que envolvem desde qualidade em prestação de serviços, volume de produtos comercializados e
                reconhecimento como Loja Diamante, pelo E-Bit (Nota máxima do órgão avaliador de compras seguras pela
                internet).
            </p>

            <h4>Vendedores qualificados.</h4>
            <p>Nossa parceria está focada em manter vendedores de boa qualidade em nosso site. Fique tranquilo, nós
                garantimos
                que
                seu pedido chegará em suas mãos!</p>
        </div>


    </div>
</div>
<app-footer></app-footer>
