@import "~bootstrap-icons/font/bootstrap-icons.css";

:root{
  --background: orange;
}

.corpo-header{
  width: 100%;
  height: 100%;
  position: relative;
}

/* !Menu lateral */
.container-sidebar {
  width: 100%;
  height: 100%;
  float: left;
  position: relative;
  background: none;
}

.campo-sidenav {
  padding: 20px;
  background-color: var(--background);
}

.botao-sidenav{
  width: 4%;
  height: 4%;
  margin: 10px;
  background: transparent;
  border: none;
  float: none;
  position: relative;
  border-radius: 100%;
  background-color:none;
}

.botao-sidenav-div{
  background-color: orange;
}

.imgIconMenu{
  width: 70%;
  float: left;
  position: relative;
  vertical-align: middle;
}

.botao-sidenav :hover{
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 100%;

}


/* !Barra de pesquisa*/

.img-icone-loja{
  width: 30%;
  margin: 0% 0% 0% 50%;

}


.barra-pesquisa-user{
  width: 100%;
  float:left;
  position: relative;
  background-color: orange;
}

.col-4, .col-1{
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.pesquisaInput{
  width: 130%;
  padding: 12px 0px 5px 10px;
  border: none;
  background-color: white;
  border-radius: 8px 0px 0px 8px;
}

.pesquisaIcon .botao{
  width: 100%;
  margin-left: 100%;
  padding: 12px 0px 5px 0px;
  background-color: white;
  text-align: center;
  vertical-align: middle;
  border-radius: 0px 8px 8px 0px;
  border: none;
}

.col-3{
  background-color: aqua;
}

/* ! Area User */

.icone-area-user{
  margin-left: -5%;
}

.botao-area-user{
  border: none;
  background-color: transparent;
}

.opc-menu a{
  text-decoration: none;
  color: black;
}
