
<mat-drawer-container class="container-sidebar">
  <mat-drawer #drawer class="campo-sidenav" mode="side">
    <h2>Categorias</h2>
    <p>Hardware</p>
    <p>Periféricos</p>
    <p>Games</p>
    <p>Cadeiras</p>
    <p>Computadores</p>
    <p>TV</p>
    <p>Celular & Telefonia</p>
    <p>Tablets, iPads e E-Readers</p>
    <p>Áudio</p>
    <p>SmartHome</p>
  </mat-drawer>
  <div class="botao-sidenav-div">
    <button class="botao-sidenav" type="button" mat-button (click)="drawer.toggle()">
      <img class="imgIconMenu " src="https://icons.getbootstrap.com/assets/icons/list.svg">
    </button>
  </div>
  <div class="barra-pesquisa-user">
    <div class="container max-width">
      <div class="row align-items-start">
        <div class="col-3">
          <img class="img-icone-loja" src="https://icon-library.com/images/tech-icon-png/tech-icon-png-16.jpg">
        </div>
        <div class="col-6">
          <div class="container pesquisaCabecalho">
            <div class="row justify-content-center">
                <div class="col-4">
                    <input type="text" class="pesquisaInput" placeholder="Pesquisa">
                </div>
                <div class="col-1 pesquisaIcon">
                    <button class="botao" type="button"><i class="bi bi-search"></i></button>
                </div>
            </div>
        </div>
        </div>
        <div class="col-3">
          One of three columns
        </div>
      </div>
    </div>
  </div>
</mat-drawer-container>

