@import "~bootstrap-icons/font/bootstrap-icons.css";

:root{
  --background: orange;
}

/* !Barra de pesquisa*/

.img-icone-loja{
  width: 30%;
  margin: 0% 0% 0% 50%;
}


.barra-pesquisa-user{
  width: 100%;
  background-color: orange;
}

.col-4, .col-1{
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.pesquisaInput{
  width: 130%;
  padding: 12px 0px 5px 10px;
  border: none;
  background-color: white;
  border-radius: 8px 0px 0px 8px;
}

.pesquisaIcon .botao{
  width: 100%;
  margin-left: 100%;
  padding: 12px 0px 5px 0px;
  background-color: white;
  text-align: center;
  vertical-align: middle;
  border-radius: 0px 8px 8px 0px;
  border: none;
}

.col-3{
  background-color: aqua;
}

/* ! Area User */

.icone-area-user{
  margin-left: -5%;
}

.botao-area-user{
  border: none;
  background-color: transparent;
}

.opc-menu a{
  text-decoration: none;
  color: black;
}
