<body>

  <div class="geral">
    <div class="container ">
      <div class="row">
        <div class="col-sm-3">
          <h2>Informações</h2>

          <ul class="list-group">
            <li id="li"><a href=quemSomos()>Quem somos</a> </li>
            <li id="li"> <a href=entregaEfrete()>Entrega e Frete</a> </li>
            <li id="li"> <a href=politicaEtroca()>Política de Troca</a> </li>
          </ul>

        </div>
        <div class="col-sm-3">
          <h2>Atendimento</h2>

          <ul class="list-group">
            <div class="logoAtendimento">
              <li id="li"><img src="assets/chatOnline.png" alt=""> <b id="b">Chat Online</b> (Atendimento rápido das
                09hr as 18hr em horário comercial).</li>
            </div>

            <div class="logoSAC">
              <li> <img src="assets/envelope.png" alt=""> <b id="b">SAC</b> faleconosco@lojainformatica.com.br</li>
            </div>
          </ul>
        </div>

        <div class="col-sm-3">
          <h2>Redes Sociais</h2>

          <ul class="list-group">
            <div class="logoRedeSocial">
              <img src="assets/facebook.png" alt="">
              <img src="assets/twitter.png" alt="">
              <img src="assets/youtube.png" alt="">
              <img src="assets/instagram.png" alt="">
            </div>

          </ul>
        </div>
        <div class="col-sm-3">
          <h2>Formas de Pagamento</h2>

          <ul class="list-group">
            <div class="formaPagamento">
              <img src="assets/faixa-pagamentos.png" alt="">

            </div>

            <li id="li"><b>Segurança</b></li>
            <div class="seguranca">
              <img src="assets/seguranca.png" alt="">
            </div>

          </ul>
        </div>
      </div>
    </div>
  </div>
</body>
<!-- <img src="assets/pagamentoItau.png" alt="">
  <img src="assets/pagamentoElo.png" alt="">
  <img src="assets/pagamentoBradesco.png" alt="">
  <img src="assets/pagamentoBoleto.png" alt=""> -->
