*{
  margin: 0%;
  height: 0%;
  padding: 0%;
}
.geral {
  background-color: orange;
  height: auto;
  display: flex;
  padding: 2% 0% 2% 0%;

}
.list-group {
  /*Usado para tirar os simbolos da lista*/
  list-style-type: none;

}
* a {
  /*Usado para tirar os simbolos da lista*/
  color: black;
  text-decoration: none;
}

.formaPagamento img {
  width: 100%;
  background-size: 100% 100%;
  margin-bottom: 5%;
  margin-right: 2%;
}
.seguranca img {
  width: 200px;
  background-size: 100% 100%;

}

.logoRedeSocial img {
  width: 30px;
  height: 30px;
  background-size: 100% 100%;
  margin-bottom: 5%;
  margin-right: 2%;
}

.logoAtendimento img,
.logoSAC img {
  width: 30px;
  height: 30px;
  background-size: 100% 100%;
}
#b {
  margin-left: 10px;
  color: black;
}
#li {
  margin-bottom: 3%;
}

h2{
  font-weight: bolder;
  color: black;
}
