<app-header></app-header>
<div class="container">

  <div class="row">
    <div class="col">
      <h1>PC Gamer OnPress Powered By Asus i5 9600KF, RGB, GTX 1650 4GB, 16GB DDR4, SSD 480GB, Linux, Preto</h1>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" style="background-color: black;"
            data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" style="background-color: black;"
            data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" style="background-color: black;"
            data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" style="background-color: black;"
            data-bs-slide-to="3" aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" style="background-color: black;"
            data-bs-slide-to="4" aria-label="Slide 5"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" style="background-color: black;"
            data-bs-slide-to="5" aria-label="Slide 6"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" style="background-color: black;"
            data-bs-slide-to="6" aria-label="Slide 7"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" style="background-color: black;"
            data-bs-slide-to="7" aria-label="Slide 8"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" style="background-color: black;"
            data-bs-slide-to="8" aria-label="Slide 9"></button>

        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../assets/imgCarousel/produto9/pc1.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/imgCarousel/produto9/pc2.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/imgCarousel/produto9/pc3.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/imgCarousel/produto9/pc4.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/imgCarousel/produto9/pc5.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/imgCarousel/produto9/pc6.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/imgCarousel/produto9/pc7.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/imgCarousel/produto9/pc8.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/imgCarousel/produto9/pc9.jpg" class="d-block w-100" alt="...">
          </div>


        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" style="background-color: black;" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" style="background-color: black;" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="col colunaComprar">
      <h2>Vendido e entregue por: Loja Cast! | <b id="estoque">Em estoque</b></h2>

      <div class="row ">
        <div class="col">
          <p><s><b>R$ 8.666,56</b></s></p>
          <p id="preco">R$ 6.919,90</p>
          <p>À vista no PIX com até <b>10% OFF</b></p>


          <p id="precoPrazo"><b>R$ 7.688,78</b></p>

          Em até 12x de <b>R$ 640,73</b> sem juros no cartão
          Ou em 1x no cartão com até <b>10% OFF</b>
        </div>
        <div class="col ">
          <a href="#" class="btn">COMPRAR</a>
        </div>
      </div>
      <div>

      </div>
    </div>
  </div>


</div>

<div class="container painel">
  <div class="row">
    <div class="col-1">

    </div>
    <div class="col-10">

      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>

              <div class="container painel">
                <div class="row">
                  <div class="col-1">
                    <span class="material-icons">
                      description
                    </span>
                  </div>
                  <div class="col">
                    <h2 id="tituloDescricaoProduto">DESCRIÇÃO DO PRODUTO</h2>
                  </div>

                </div>
              </div>

            </mat-panel-title>
            <mat-panel-description>

            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="textoDescricao">
            <p><b>Computador On Gaming Powered By Asus, Core I5 9600KF, GTX 1650 Asus Tuf 4GB, 16Gb Ram, SSD 480GB, 03
                Anos de
                Garantia</b></p>

            <p>Computadores On Gaming Powered By Asus com 03 Anos de Garantia. Componentes dos Melhores Fabricantes de
              Ti
              do Brasil. Alto Desempenho, Performance e Durabilidade.</p>

            <p>Esse PC Gamer é um dos melhores custos benefícios da Atualidade. Com o Processador Intel Core I5 9600KF e
              uma Placa de vídeo dedicada, a GTX 1650 4GB e 16GB de Memória Ram vai te permitir excelente jogabilidade
              em
              gráficos básicos, possibilitando acesso também a jogos com gráficos mais exigentes.</p>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div class="col-1">
    </div>
  </div>
</div>


<div class="container painel2">
  <div class="row">
    <div class="col-1">

    </div>
    <div class="col-10">

      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>

              <div class="container painel">
                <div class="row">
                  <div class="col-1">
                    <span class="material-icons">
                      priority_high
                    </span>
                  </div>
                  <div class="col">
                    <h2 id="tituloDescricaoProduto">INFORMAÇÕES TÉCNICAS</h2>
                  </div>

                </div>
              </div>

            </mat-panel-title>
            <mat-panel-description>

            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="textoDescricao">

            <p><b>Características:</b></p>
            <p>- Marca: OnPress</p>
            <p>- Modelo: ONG96KFT16516S48</p>

            <p><b>Especificações:</b></p>

            <p><b>Processador:</b></p>
            <p>- Processador Intel Core i5 9600KF Coffee Lake Refresh, 3.7GHz (4.6GHz Max Turbo), LGA 1151, BX80684I59600KF</p>
            <p>- 9ª Geração</p>

            <p><b>Especificações da CPU:</b></p>
            <p>- Frequência: 3.7GHz à 4.6 Ghz</p>
            <p>- Socket: 1151</p>
            <p>- Número de núcleos: 6</p>
            <p>- Nº de threads: 6</p>
            <p>- Frequência baseada em processador: 3.7Ghz</p>
            <p>- Frequência turbo max: 4.6Ghz</p>
            <p>- Cache: 9MB</p>

            <p><b>Refrigeração Processador:</b></p>
            <p>- Cooler Box Intel</p>

            <p><b>Placa Mãe:</b></p>
            <p>- Placa Mãe Asus Tuf B360M-PLUS Gaming/BR DDR4 LGA 1151</p>
            <p>- Chipset: Intel B360</p>
            <p>- Socket LGA 1151</p>

            <p><b>Conexões:</b></p>
            <p>- 6x conectores SATA</p>
            <p>- 2x M.2 Socket 3</p>
            <p>- 5x PORTAS USB FRONTAL</p>
            <p>- 1x porta DVI-D</p>
            <p>- 1x porta HDMI</p>
            <p>- 3x portas USB 3.1</p>
            <p>- 2 portas USB 2.0</p>

            <p><b>Placa de vídeo:</b></p>
            <p>- Placa De Video Asus Tuf Gaming Geforce GTX 1650 4GB DDR6 - TUF-GTX1650-O4GD6-GAMING</p>
            <p>- Memória de Vídeo: 4GB GDDR6</p>
            <p>- Velocidade da Memória: 12 Gbps</p>
            <p>- Interface de Memória: 128 bits</p>

            <p><b>Resolução:</b></p>
            <p>- Resolução digital máxima 7680 x 4320</p>

            <p><b>Conexões:</b></p>
            <p>- Saída DVI: Sim x 1 (Nativo) (DVI-D)</p>
            <p>- Saída HDMI: Sim x 1 (Nativo) (HDMI 2.0b)</p>
            <p>- Porta de exibição: Sim x 1 (Nativo) (DisplayPort 1.4)</p>
            <p>- Suporte HDCP: Sim (2.2)</p>
            <p>- Suporte máximo de exibição: 3</p>
            <p>- Suporte para NVlink / Crossfire: Não</p>

            <p><b>Memória:</b></p>
            <p>- Memória XPG Hunter, 16GB (1x16GB), 3200MHz, DDR4, AX4U320016G16A-SBHT</p>
            <p>- Tamanho: 16GB (1X16GB)</p>
            <p>- Frequência: 3200MHz</p>

            <p><b>HDD/SSD:</b></p>
            <p>- SSD: SSD Adata SU630, 480GB, Sata, Leitura 520mb/s, Gravação 450MB/s - ASU630SS-480GQ-R</p>

            <p><b>Fonte:</b></p>
            <p>- Fonte Cougar VTC500 500W 80 Plus White - 31VC050006P01</p>
            <p>- Fonte PFC Ativo 80 Plus White</p>
            <p>- BIVOLT AUTOMÁTICO - 110/220V</p>
            <p>- Acompanha cabo de força</p>

            <p><b>Gabinete:</b></p>
            <p>- Gabinete Gamer Cougar MX410, Mid Tower c/ 1x Fan ARGB, Lat. Acrílico - 385VM60.0005</p>
            <p>- Painel de E / S USB 3.0 x 2 / Mic x1 / Áudio x1 / Botão de controle RGB x1</p>
            <p>- Ventilador pré-instalado: Traseiro - Ventilador COUGAR ARGB 120mm x 1</p>
            <p>- Paineis laterais de Acrílico: Sim</p>
            <p>- RGB Integrado: Faixas Duplas</p>
            <p>- Painel Frontal Acrílico: Sim</p>

            <p><b>Painel I/O:</b></p>
            <p>- USB 3.0 x 2</p>
            <p>- USB 2.0 x 2</p>
            <p>- Mic x 1</p>
            <p>- Áudio x 1</p>
            <p>- Botão Controlador RGB x 1</p>

            <p><b>Suporte do ventilador de refrigeração:</b></p>
            <p>- Frente: 120 mm x 3</p>
            <p>- Topo: 120 mm x 2</p>
            <p>- Trás: ARGB 120mm x 1 (pré-instalado)</p>

            <p><b>Suporte de refrigeração de água:</b></p>
            <p>- Frente: 240mm</p>
            <p>- Topo: 240mm (altura máxima da placa-mãe de 40mm)</p>
            <p>- Trás: 120mm</p>

            <p><b>Dimensão Gabinete:</b></p>
            <p>- Profundidade:21cm</p>
            <p>- Largura: 45,5cm</p>
            <p>- Altura: 38cm</p>

            <p><b>Sistema Operacional:</b></p>
            <p>- Linux</p>

            <p><b>Conteúdo da Embalagem:</b></p>
            <p>- 1x Computador On Gaming Powered By Asus, Core I5 9600KF, GTX 1650 Asus Tuf 4GB, 16Gb Ram, SSD 480GB, 03
              Anos de Garantia</p>

            <p><b>Garantia:</b></p>
            <p>1080 dia(s) de garantia</p>

            <p><b>Peso:</b></p>
            <p>12188 gramas (bruto com embalagem)</p>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div class="col-1">
    </div>
  </div>
</div>



<app-footer></app-footer>
