<app-header></app-header>
<div class="container">
    <div class="row">

        <div class="col-12 trocaEdevolucao">

            <h1>Trocas e Devoluções</h1>
            <p><b>Desistência de Compra por Insatisfação:</b> Se você efetuou a compra através da nossa loja, recebeu o
                produto em
                perfeitas
                condições e ainda assim não se sentiu feliz com a compra, você poderá solicitar através de nossa Central
                de
                Atendimento
                o cancelamento da compra. Mas fique atento para as regras abaixo.</p>

            <p><b>Prazo para desistência de compra:</b> Conforme ditam as normas do CDC (Código de Defesa do
                Consumidor), o
                cliente que
                realiza compras através de lojas virtuais, gozam de até 7 (sete) dias após o recebimento do produto para
                registrar a
                desistência da compra.
                O desejo de cancelamento deve ser imediatamente comunicado a nós, seguindo as seguintes regras:</p>

            <p><b>Devolução da Mercadoria:</b> - A mercadoria deverá ser devolvida através dos correios com porte pago
                pelo
                cliente, para o
                endereço constante na Nota Fiscal de compra.</p>

            <p>- O produto deve ser devolvido em sua embalagem original.</p>
            <p>- O produto deve ser devolvido acompanhado da Nota Fiscal de Compra.</p>
            <p>- O produto não poderá apresentar qualquer indício de uso.</p>

            <p><b>ATENÇÃO:</b> O produto que não atender as condições exigidas acima, não será aceito como devolução e
                automaticamente será
                remetido de volta ao endereço de origem. Nessas condições, a nós nos reservamos no direito de fazer nova
                cobrança de
                frete.</p>

            <p><b>Restituição dos Valores:</b> - Cartão de crédito: O estorno poderá ocorrer em até 2 faturas subsequentes.</p>
                <p>- Boleto Bancário: Crédito em conta corrente em até 10 dias úteis.</p>
                <p>- Não haverá restituição do valor do frete (depende da negociação prévia entre nós e cliente).</p>

            <p><b>ATENÇÃO:</b> A restituição dos valores será processada somente após o recebimento e análise das condições
                do(s)
                produto(s)
                em nosso estoque. (O produto não poderá trazer qualquer indício de uso).</p>

            <p><b>NOTA:</b> Toda intenção de cancelamento deverá obrigatoriamente ser comunicada à nós antes do envio do(s)
                produto(s). Caso
                contrário, os pedidos não serão aceitos. Você possui até 30 dias corridos, após recebimento do produto,
                para
                solicitar a
                troca ou devolução de um produto em nossa loja.</p>

            <p><b>Para solicitar sua Troca ou Devolução é fácil! Acesse Nossa Central de Atendimento.</b></p>

            <p><b>Desistência/Troca de Compra em casos de produtos sem defeito:</b> O produto novo goza de até 30 dias para ser
                substituído.
                Desde que este seja apresentado nas mesmas condições em que foi recebido/comprado (na embalagem original
                e
                sem uso).
                “Lembre-se que para efetuarmos a troca, o produto deverá estar na embalagem original e sem uso.”
                Se você escolheu seu produto em nossa loja virtual, mas ao recebê-lo não se agradou e deseja fazer a
                substituição por
                outro item. Observe as regras:</p>

            <p><b>Devolução da Mercadoria:</b></p>
                <p>- O produto não poderá apresentar qualquer indício de uso e a embalagem não pode conter nenhum tipo de
                    avaria,
                    anotações, etc.</p>
                <p>- O produto deve ser devolvido acompanhado da Nota Fiscal de Compra.</p>
                <p>- O produto deve ser devolvido em sua embalagem original, acompanhado de todos os acessórios e manuais.</p>
                <p>- A mercadoria deverá ser devolvida através dos correios com porte pago e remetido ao endereço constante
                    na
                    Nota Fiscal
                    de compra.</p>

            <p>
                <b>Substituição da Mercadoria:</b> - Você poderá fazer a escolha de outro item conforme estoque disponível em
                nossa
                loja
                virtual.</p>
                <p>- A escolha deverá se limitar ao valor limite do produto. Se houver diferença de preço para maior,
                    deverá
                    ser
                    providenciado o pagamento da diferença, via opções existentes no site.</p>
                <p>- O cliente deverá indicar no verso da Nota Fiscal de compra, o item escolhido para troca.</p>
                <p>- O produto será despachado para a residência do cliente, mediante pagamento de novo frete.</p>


            <p><b>Devolução da Mercadoria:</b></p>
                <p>- A mercadoria deverá ser encaminhada através dos correios para o endereço constante na Nota Fiscal de
                    compra.</p>
                <p>- Devolver o produto na embalagem original.</p>
                <p>- Obrigatoriamente o cliente deverá encaminhar a via da Nota Fiscal de Compra juntamente com o produto.</p>
                <p>- O cliente deverá enviar por escrito, um breve relato sobre o suposto defeito a qual se refere à
                    reclamação,
                    esclarecendo sobre o problema ocorrido, etc.</p>

            <p><b>ATENÇÃO:</b> Produtos encaminhados fora das especificações acima, não serão aceitos para análise de defeitos
                e
                automaticamente serão devolvidos ao remetente.</p>

            <p><b>Cancelamento Automático de compra:</b> O Cancelamento do pedido e liberação dos produtos adquiridos por
                iniciativa da Polário
                será automático nas seguintes situações:</p>

            <p>- Impossibilidade de execução do débito correspondente à compra no cartão de crédito.</p>
                <p>- Inconsistência de dados preenchidos no pedido.</p>
                <p><b>Não pagamento do boleto bancário.</b></p>
                <p>- Ausência de estoque e impossibilidade de encomenda junto ao fabricante.</p>

            <p>
                <b>Como devo proceder caso meu pedido esteja com o produto errado ou com defeito ou avariado? </b> Ao receber sua
                encomenda,
                verifique se a embalagem encontra-se intacta, sem sinais de violação ou dano. Identificando que a caixa
                ou
                embalagem
                esteja nestas condições, é necessário recusá-la, anotando na Nota Fiscal o motivo da devolução.
                Caso o pedido tenha sido recebido, haverá um prazo de sete dias corridos, contados da data do
                recebimento,
                para
                formalização da reclamação no Help Desk do site.</p>
                <p>- Solicitaremos a coleta ou autorizaremos a postagem do produto, de acordo com a região.</p>

            <p><b>O produto em questão deverá conter todos os componentes que o acompanham.</b> A embalagem bem como seu
                conteúdo
                devem
                permanecer intactos, com o lacre inviolado, salvo na condição de que o problema esteja no conteúdo do
                produto, neste
                caso, o mesmo não poderá ser retirado.
                A troca ocorrerá após análise do produto por nós. Essa análise será realizada em até 02(dois) dias
                úteis,
                contados a
                partir do recebimento do produto.
                Identificando que o mesmo não esteja nas condições supracitada prosseguiremos com o reenvio deste, sendo
                necessário que
                o cliente arque com a despesa de reenvio e nos encaminhe o comprovante.</p>

            <p><b>Constatado a avaria, defeito ou produto incorreto,</b> você poderá optar pelo envio de um novo produto ou
                receber o estorno
                ou reembolso do valor. Caso esteja indisponível no site, nossa equipe de atendimento entrará em contato
                oferecendo as
                seguintes opções:</p>

            <p>- Produto similar de mesmo valor;</p>
                <p>- Escolha de outro produto qualquer de mesmo valor;</p>
                <p>- Cancelamento ou reembolso do valor do produto (de acordo com opção de pagamento) ou reversão em bônus;
                    Neste caso é
                    necessário que o produto retorne ao nosso centro de distribuição para então prosseguirmos com o
                    procedimento.</p>

            <p><b>O procedimento:</b> A solicitação deverá ser realizada na nossa central de atendimento do site, sendo
                necessário
                estar
                logado. Anote o número do ticket que será gerado, ele é a garantia de que sua solicitação foi
                formalizada.</p>

            <p><b>Reenvio do produto com endereço incorreto ou erro de cadastro:</b> Se você efetuou a compra através da nossa
                loja, mas
                ocorreu algum erro no momento do cadastro do endereço por responsabilidade do cliente ( Falta do
                complemento, erro de
                digitação etc..), será de total responsabilidade do cliente, caso o cliente queira o reenvio será
                cobrado o
                valor do
                frete.</p>
        </div>

    </div>
</div>
<app-footer></app-footer>
